.user-info-panel
{
    background-color: var(--userInfo-background);
    color: var(--userInfo-foreground);
    padding: var(--size-md) var(--size-sm);
    margin: var(--size-sm);
    border-radius: var(--border-radius);
}