<div class="flex-column row-gap-extra-small padding-horizontal-small padding-vertical-medium">
    <a class="btn btn-default only-content no-padding start bold">
        <span>{{'kalendár - prehľad' | firstUppercaseLocalize}}</span>
    </a>
    
    <a class="btn btn-default only-content no-padding start bold">
        <span>{{'kalendár - evidencia' | firstUppercaseLocalize}}</span>
    </a>
    
    <a class="btn btn-default only-content no-padding start bold">
        <span>{{'kontrola vložených intervalov' | firstUppercaseLocalize}}</span>
    </a>

    <hr>

    <a class="btn btn-default only-content no-padding start bold">
        <span>{{'priepustky' | firstUppercaseLocalize}}</span>
    </a>
    
    <a class="btn btn-default only-content no-padding start bold">
        <span>{{'archív priepustiek' | firstUppercaseLocalize}}</span>
    </a>

    <hr>
    
    <a class="btn btn-default only-content no-padding start bold">
        <span>{{'dovolenka žiadanky' | firstUppercaseLocalize}}</span>
    </a>

    <a class="btn btn-default only-content no-padding start bold">
        <span>{{'archív žiadaniek' | firstUppercaseLocalize}}</span>
    </a>
    
    <hr>

    <a class="btn btn-default only-content no-padding start bold">
        <span>{{'ročný plán dovoleniek' | firstUppercaseLocalize}}</span>
    </a>
</div>