@use '@css-styles/common' as mixins;
@use '@css-styles/common' as misc;
@use '@css-styles/themes' as themes;
@use '@anglr/common/styles' as anglrCommon;
@use '@anglr/datetime/styles' as datetime;
@use '@anglr/dynamic/styles' as dynamic;
@use '@anglr/grid/styles' as gridPackage;

@use 'parts/app' as app;
@use 'parts/buttons' as buttons;
@use 'parts/calendar' as calendar;
@use 'parts/menu' as menu;
@use 'parts/monthSelector' as monthSelector;
 
@use 'theme/vars' as vars;

//---------------------- PAGE STYLING ----------------------
.app-page
{
    font-family: var(--font-family);
    -webkit-user-select: none;
    user-select: none;
    background-color: var(--page-background);
    color: var(--page-foreground);

    //############## PACKAGES ##############

    @include anglrCommon.buildThemeCss;
    @include datetime.buildThemeCss;
    @include dynamic.buildThemeCss;
    @include gridPackage.buildThemeCss;

    //############## SCROLLBAR ##############

    @include mixins.thin-scrollbar-color(--page-scrollbar);

    //############## PARTS ##############

    @include themes.css-alerts;
    @include themes.css-blocks;
    @include themes.css-buttons(vars.$buttonTypes, vars.$buttonStates);
    @include themes.css-common-components;
    @include themes.css-forms;
    @include themes.css-grid;
    @include themes.css-texts(vars.$textTypes);
    @include themes.css-titles;
    @include app.css;
    @include buttons.css;
    @include calendar.css;
    @include menu.css;
    @include monthSelector.css;

    //############## MISC ##############

    @include themes.css-common;
    @include misc.misc-css;
}