.dashboard-content
{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
}

.full-grid
{
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.customize-btns
{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    z-index: 1;
}
