:host
{
    display: flex;
    flex-direction: column;
}

.toggle-button
{
    border: none;
    background-color: #dff4fe;
    padding-block: var(--size-sm);
    letter-spacing: 1.5px;
    font-weight: 550;
    cursor: pointer;

    &:first-child
    {
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }

    &:last-child
    {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    &.active
    {
        background-color: #ade2fb;
    }
}