@use '@anglr/common/styles/themes/light' as anglrCommonTheme;
@use '@anglr/datetime/styles/themes/light' as dateTimeTheme;
@use '@anglr/dynamic/styles/themes/light' as dynamicTheme;
@use '@anglr/grid/styles/themes/light' as gridTheme;
@use '@css-styles/themes' as themes;

@use './scss/theme/defaultTheme' as defaultTheme;
@use './scss/theme/dochadzka' as appTheme;

@use 'scss/theme/theme' with ($fontSize: appTheme.$fontSize,
                              $theme: themes.defineTheme(appTheme.$fontSize, defaultTheme.$defaultTheme, appTheme.$appTheme),
                              $appTheme: defaultTheme.defineTheme(appTheme.$appTheme),
                              $themeName: 'dochadzka',
                              $anglrCommonTheme: anglrCommonTheme.defineTheme(),
                              $dateTimeTheme: dateTimeTheme.defineTheme(),
                              $dynamicTheme: dynamicTheme.defineTheme(),
                              $gridTheme: gridTheme.defineTheme(),
                              $hljs: 'vs');