<div class="flex-row align-items-center gap-small">
    <div class="margin-vertical-small"></div>

    <a class="btn btn-default only-content menu-btn" routerLink="/" *authorize="'home-page'">
        <span>{{'dochádzka'|localize}}</span>
    </a>

    <div class="flex-1"></div>

    <div>{{username()}}</div>

    <a (click)="openSettings()" class="fas fa-cog medium-large-text"></a>
    
    @if(versionUpdateSvc.updateAvailable())
    {
        <div class="align-self-center">
            @if(versionUpdateSvc.updateReady())
            {
                <button type="button" class="btn btn-warning" (click)="versionUpdateSvc.activateVersion()">
                    <span class="fas fa-clock"></span>
                    <span>inštalovať aktualizáciu</span>
                </button>
            }
            @else 
            {
                <div class="text-warning first-letter-uppercase">sťahujem aktualizáciu</div>
            }
        </div>
    }
</div>